#submit{
    border-color: AAAAAA;
    color: 000000;
    font-size: large;
    border-width: 5px;
    font-family: cursive;
    width: 25%;
}

.submit-and-display{
    vertical-align: top;
    white-space: nowrap;
}

.buttons{
    border: 2px;
    height: 20px;
    width: 20px;
}

#display{
    font-size: larger;
    font-family: cursive;
    color: rgb(72, 218, 98);
    vertical-align: top;
    width: 10%;
}

.dropdown{
    font-size: larger;
    font-family: cursive;
    border-color: 000000;
    border-width: 2px;
    color: rgb(56, 52, 77);
    
}

.tables{
    font-family: fantasy;
    font-size: x-large;
    color: rgb(52, 43, 43);
}

